<%- include ('partials/header.ejs') %>
    <h1>Login!</h1>
	
	<h1>Enter signup details(All fields mandatory)</h1>
        <form class="add-player-form" action="/login" method="post" enctype="multipart/form-data">
			<div style="margin : auto ">
				<div class="form-row">
				<div class="form-group col-md-6">
					<label for="username">Enter Username:</label>
					<input type="text" class="form-control" name="username" id="username" placeholder="Enter Username" required>
				</div>
			</div>
			<div class="form-row">
                <div class="form-group col-md-6">
					<label for="password">Enter password:</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter password"  required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-center">Sign Up</button>
			</div>
        </form>
<%- include ('partials/footer.ejs') %>


