<%- include ('../partials/header.ejs') %>
<h4><a href="/index" class="back btn btn-md btn-warning">Back</a></h4>

<div class="container">
	<h1>WELCOME TO MANAGER'S HOME PAGE</h1>
	<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Display All manager</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/manager/display" class="btn btn-primary">DISPLAY</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add managers</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/manager/add" class="btn btn-primary">ADD</a>
      </div>
    </div>
  </div>
</div>
</div>

<%- include ('../partials/footer.ejs') %>
